
<%- include('../includes/head.ejs') %>



<body>
    

<%- include('../includes/navigation.ejs') %>


<main style="border: 2px Solid grey; margin: 3rem; background-color: honeydew; border-radius: 10px;">
    <% if (orders.length > 0) { %>
        <ul style="list-style: none; padding: 0; margin: 0; padding: 1rem;">
            <% orders.forEach(order => { %>
            <li style="background-color: lightskyblue; border-radius: 10px; padding: 1rem; margin: 1rem;">
                <h2 style="margin: 0; padding: 1rem; padding-left: 2rem;">Order Id: <%= order._id %></h2>
                <ul style="list-style: none; padding: 0; margin: 0; padding: 1rem;">
                    <% order.items.forEach(product => { %>
                    <li style="background-color: honeydew; border-radius: 10px; padding: 2rem; margin: 1rem;">
                        <div class="row">
                            <div class="col-4" style="justify-content: center; display: flex;">
                                <img src="<%= product.imageUrl %>" style="width: 10rem; aspect-ratio: 1;">
                            </div>
                            <div class="col-8">
                                <p><b style="font-size: 18px;">Name : </b>  <%= product.title %></p>
                                <p><b style="font-size: 18px;">Quantity : </b>  <%= product.quantity %></p>
                                <p><b style="font-size: 18px;">Description : </b>  <%= product.description %></p>
                                <p><b style="font-size: 18px;">Price : </b>  <%= product.price %></p>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>
    <%  } else { %>
        <h1>No Item Ordered</h1>
    <% } %>
</main>




<%- include('../includes/end.ejs') %>
