
<%- include('../includes/head.ejs') %>



<body>
    

<%- include('../includes/navigation.ejs') %>


<main style="border: 2px Solid grey; margin: 3rem; background-color: darkgrey;">
    <% if(products.length > 0) { %>
        <h3 style="margin: 0; padding: 1rem; padding-left: 2rem; color: whitesmoke;"> Cart Item: <%= products.length %></h3>
        <ul style="list-style: none; padding: 0; margin: 0; padding: 1rem;">
            <% products.forEach(p => { %>
                <li style="background-color: azure; border-radius: 10px; padding: 1rem; margin: 1rem;">
                    <p> Name: <%= p.productId.title %></p>
                    <p> Qty: <%=  p.quantity %></p>
                    <form action="/cartDeleteItem" method="POST">
                        <input type="hidden" name="productId" value="<%= p.productId._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">DELETE </button>
                    </form>
                </li>
            <% }) %>
        </ul>
        
        <div class="border-top border-light" style="display: flex; justify-content: center; align-items: center; padding: 1rem;">
            <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
    <% } else { %>
        <h1>No Product In Cart</h1>
    <% } %>    

</main>




<%- include('../includes/end.ejs') %>
